---
import { Image } from 'astro:assets';
import GitHubMark from '@assets/images/github-mark.svg';

import '@unocss/reset/sanitize/sanitize.css';
import '@unocss/reset/sanitize/assets.css';
import '@ubie/design-tokens/dist/tokens.css';
import '../styles/libs/prism-a11y-dark.css';
import '@styles/global.css';
import type { PostData } from '@types';
import WithGlobalNavigation from '@components/react/WithGlobalNavigation';
import GlobalHeader from '@components/astro/GlobalHeader.astro';

const currentPath = new URL(Astro.request.url).pathname;
const allComponentMdx = await Astro.glob('../pages/components/*.mdx');

const allComponentPostData: PostData[] = allComponentMdx.map((componentMdx) => {
  return {
    title: componentMdx.frontmatter.title ? componentMdx.frontmatter.title : '',
    description: componentMdx.frontmatter.description ? componentMdx.frontmatter.description : '',
    url: componentMdx.url ? componentMdx.url : '',
  };
});

interface Props {
  title?: string;
  wideFooter?: boolean;
}

const { title, wideFooter = false } = Astro.props;

const globalNavigationId = 'vitals-global-navigation';
const description =
  "Ubie Vitals is a design system based on four design principles to ensure that Ubie's products reach all users";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {title ? <title>{title} | Ubie Vitals</title> : <title>Ubie Vitals</title>}
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://vitals.ubie.life/assets/images/og-image.png" />
    <meta name="twitter:title" content="Ubie Vitals" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <GlobalHeader globalNavigationId={globalNavigationId} />

    <WithGlobalNavigation
      globalNavigationId={globalNavigationId}
      currentPath={currentPath}
      allComponentPostData={allComponentPostData}
      client:load
    >
      <slot />

      <footer class="footer">
        <div class:list={['footerInner', { wide: wideFooter }]}>
          © Ubie, Inc.

          <a href="https://github.com/ubie-oss/ubie-vitals-website" class="repositoryLink">
            <Image src={GitHubMark} alt="GitHub Mark" width={17} />
             View on GitHub
          </a>
        </div>
      </footer>
    </WithGlobalNavigation>
  </body>
</html>

<style>
  .footer {
    border-top: 1px solid var(--color-ubie-black-200);
  }

  .footerInner {
    display: flex;
    justify-content: space-between;
    max-width: calc(var(--wrapper-width) + var(--size-spacing-lg) + var(--size-spacing-lg));
    padding: var(--size-spacing-lg);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footerInner.wide {
    min-width: 100%;
    padding-right: var(--size-spacing-xl);
    padding-left: var(--size-spacing-xl);
  }

  .repositoryLink {
    display: inline-flex;
    gap: var(--size-spacing-xs);
    align-items: center;
    font-weight: bold;
  }
</style>
